[submodule "packages/premium"]
	path = packages/premium
	url = git@github.com:talent-factory/examcraft-premium.git
	branch = main
[submodule "packages/enterprise"]
	path = packages/enterprise
	url = git@github.com:talent-factory/examcraft-enterprise.git
	branch = main
[submodule "docs-mintlify"]
	path = docs-mintlify
	url = https://github.com/talent-factory/examcraft-docs.git
